
@import 'bootstrap/bootstrap';

.custom-select {
    -webkit-appearance: none;
}

form {
    justify-content: center;
}

#list {
    margin: 0 -15px;
    padding: 0;
    list-style: none;

    li {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #999;

        &:last-child {
            border-bottom: none;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}